@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Automotive Services</h1>
    <p>Book your vehicle now!</p>
</div>
<!-- Image  -->
<div>
    <img class="img-fluid"  src="/Images/1.jpg" alt="Alternate Text" />
</div>